@import '~scss/bootstrap/mixins';
@import '~scss/bootstrap/variables';

.vacancy-page {
  font-size: 18px;

  &__caption {
    font-size: 54px;
    line-height: 62px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__body {
    line-height: 32px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__apply {
    text-align: center;
    margin-top: 60px;

    button {
      display: inline-block;
      width: 270px;
      height: 60px;
      margin: 0 auto;
    }
  }
}
