.lang-switch {
  position: relative;
  width: 85px;
  cursor: pointer;
  height: 40px;


  &__current {
    position: relative;
    height: 100%;
    padding: 0 40px 0 20px;
    border: 1px solid #1E222A;
    border-radius: 20px;
    background-color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      position: absolute;
      top: 0;
      right: 19px;
      content: '';
      display: block;
      width: 14px;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%231E222A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.ie {
    .lang-switch__current {
      padding-bottom: 2px;
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: calc(100% + 5px);

    padding: 15px 10px;

    //width: 200px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }

  &__item {
    margin: 5px 0;
    padding: 0 40px 0 10px;
    cursor: pointer;

    &:hover {
      background-color: #ffbf00;
    }

    &_is-active {
      text-shadow: 0 4px 0 #ffbf00;
    }
  }
}

.lang-switch-code {
  height: 100%;
  display: flex;
  align-items: center;
}