@import '~scss/bootstrap/mixins';
@import '~scss/bootstrap/variables';

@import '~scss/bootstrap/index';
@import '~scss/base/index';
@import '~scss/helpers/index';
@import '~scss/cartograph-sans-light';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
