@import '~scss/bootstrap/mixins';
@import '~scss/bootstrap/variables';


.about-page {
  &__title {
    font-size: 54px;
    line-height: 62px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__email {
    font-size: 16px;
    line-height: 20px;
  }

  &__advantage {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__advantage-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      display: block;
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #00B300;

      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__big-text {
    font-size: 36px;
    line-height: 51px;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 24px;
    }

    &_weight_light {
      font-weight: 300;
    }

    &_weight_medium {
      font-weight: 600;
    }

    &_weight_heavy {
      font-weight: 900;
    }
  }

  &__list {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 24px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }

  &__number {
    display: flex;
    justify-content: center;

    &-cont {
      span {
        font-size: 54px;
        line-height: 62px;

        @include media-breakpoint-down(sm) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      p {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;

      &-cont {
        display: flex;
        align-items: center;
        margin: 22px 0;

        span {
          flex-shrink: 0;
          display: block;
          width: 90px;
        }

        p {
          display: block;
        }
      }
    }
  }

  &.bg-hover {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      transform: rotate(-5deg) scale(1.5, 0.7);
      background-color: #ffbf00;
    }
  }

  &.bg-hover-half {
    position: relative;
    padding: 100px 0;
    margin: 70px 0 70px;

    @include media-breakpoint-down(sm) {
      padding: 50px 0;
      margin: 50px 0 35px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      transform: rotate(-5deg) scale(2.5, 1);
      background-image: linear-gradient(180deg, #ffbf00, #fff);
    }
  }

  &.bg-gray {
    background-color: #f2f2f2;
  }

  &__img {
    img {
      width: 230px;
      height: 230px;

      @include media-breakpoint-down(sm) {
        width: 138px;
        height: 138px;
      }
    }
  }

  /*** offsets ***/
  .custom-offset-1 {
    margin-top: 135px;

    @include media-breakpoint-down(sm) {
      margin-top: 60px;
    }
  }

  &.custom-offset-2 {
    margin: 0;
    padding: 190px 0;

    @include media-breakpoint-down(sm) {
      padding: 110px 0;
      margin-top: -40px;
    }
  }

  .custom-offset-3 {
    margin-top: 155px;

    @include media-breakpoint-down(sm) {
      margin-top: 50px;
    }
  }
}
